@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

.contact-container{
    height: 100vh;
    width: 100%;
    position: relative;
}
.contact-form-container{
    position: absolute;
    top: 19%;
    right: 20%;
    display: flex;
    flex-direction: column;
    padding: 70px 45px;
    background: white;
    z-index: 2;
    box-shadow: 0 8px 20px rgba(31, 30, 30, 0.24);
}

.contact-form-container h1{
    margin-bottom: 36px;
    color: #2B3467;
    font-weight: 400;
    font-size: 40px;
}
.contact-form-container .form{
    display: flex;
    flex-direction: column;
}
.contact-form-container .form input,textarea{
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 15px;
    width: 330px;
    border: 1px solid #99adca;
    color: rgb(76, 81, 104);
    font-weight: 200;
}


.contact-form-container .form input{
    margin-bottom: 15px;
}

.contact-form-container button{
    width: 100%;
    padding: 10px;
    background-color: #2A3F57;
    border-radius: 0;
    margin: auto;
    color: white;
    height: 60px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 200;
}
.contact-container .top{
    position: absolute;
    top: 19%;
    left: 13%;
    text-align: left;
    justify-content: left;
}
.contact-container .top .header{
    color: #2B3467;
    font-size: 40px;
    margin-bottom: 25px;
    font-weight: 400;
}
.contact-container .top .text{
    width: 420px;
    margin-bottom: 40px;
    
}
.contact-container .top .text p{
    color: #CACCD8;
    text-align: left;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 100;
    line-height: 32px;
}

.top .infos .infos-element{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 18px;
    cursor: pointer;
}

.top .infos .infos-element .icon{
    font-size: 18px;
    margin-right: 20px;
    color: #6c74a5;
}

.top .infos .infos-element .info h1{
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #96A0DD;
    
}

.bottom{
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
    
}
.bottom .background{
    background-image: url("../Images/contact-background-blur.jpg");
    background-size:cover;
    background-position-y: 70%;
    width: 100%;
    height: 100%;
    position: relative;
}

.bottom .background::after{
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #222C45;
    opacity: 0.6;
}

