@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');

.member-details {
  margin-bottom: 0;
}

.no-data-header {
  font-size: 24px;
}

.member-header {
  font-size: 32px;
  font-weight: bold;
  margin-top: 1rem;
}

.member-header, .no-data-header {
  text-align: center;
  margin-bottom: 1rem;
}

/* .employee-actions {

} */
